<div id="content">
	<div class="grid" id="links">
		<% var squarecount; %>
		<% for (var i=0; i<hacks.length; i++) { %>
			<div class="square" id="logo">
				<div class="squaretext"><span><%= hacks[i].title %></span></div>
			</div>
			<div class="blank square"></div>
		<% } %>
	</div>
</div>
