<div id="content">
  <div class="grid" id="userGrid">
    <% var squarecount = 1; %>
<<<<<<< HEAD
=======
	<div class="blank square">
		<div class="front squaretext"><div class="squaretitle">Presenters: Please arrive by <a href="#">1:30PM</a> for setup!</div></div>
    </div>
>>>>>>> 289a296623ce7d8f436bec7c4b2c4e8bdf09d9d2
    <% for (var i=0; i<users.length; i++) { squarecount++; %>
      <div class="square link" name=<%= "users/"+users[i].github.username %>>
        <span><%= (users[i].info.name || users[i].github.username)%></span>
        <% if (users[i].github.avatarUrl) { %>
          <img src=<%= users[i].github.avatarUrl+"?s=200" %> style="width: 100%;"></img>
        <% } %>
        <div class="squaretext">
        </div>
      </div>
<<<<<<< HEAD
=======
      <% if (Math.random() > 0.6) { squarecount++; %>
        <div class="blank square"></div>
      <% } %>
>>>>>>> 289a296623ce7d8f436bec7c4b2c4e8bdf09d9d2
    <% } %>
    <% var remainder = ((squarecount < 40) ? 40 : 8*(Math.floor(squarecount / 8) + (squarecount % 8 == 0 ? 0 : 1))) - squarecount; %>
    <% for (var i=0; i<remainder; i++) { %>
      <div class="blank square"></div>
    <% } %>
  </div>
</div>
