<div id="content">
  <div class="grid" id="linkGrid">
    <% for (var i=0; i<11; i++) { %>
      <div class="blank square"></div>
    <% } %>
    <div class="square">
      <div class="front squaretext"><div class="squaretitle">WOZNIAK LOUNGE <br> - SAT. 1/26 - <br> 1-4PM</div></div>
    </div>
    <div class="square">
      <img src="https://s3.amazonaws.com/hackerfair/hack-logo-black-png.png" style="width: 100%; opacity: 0.2;">
      <div class="front squaretext"><div class="squaretitle"><font style="color:#aaa;">HACKER</font>FAIR</div></div>
    </div>
    <% for (var i=0; i<6; i++) { %>
      <div class="blank square"></div>
    <% } %>
    <div class="square link" name="login">
      <img src="https://s3.amazonaws.com/hackerfair/github_icon.jpg" style="width: 100%; opacity: 0.2;">
      <div class="front squaretext"><div class="squaretitle">
      	<a style="text-decoration: none;" href="https://www.facebook.com/events/252302234900111/?fref=ts">rsvp</a>
      	</div></div>
    </div>
    <div class="square link" name="submit">
      <div class="front squaretext"><div class="squaretitle">submit<br>hack</div></div>
    </div>
    <% for (var i=0; i<19; i++) { %>
      <div class="blank square"></div>
    <% } %>
  </div>
</div>
