<div id="content">
  <div class="grid" id="linkGrid">
    <% for (var i=0; i<11; i++) { %>
      <div class="blank square"></div>
    <% } %>
    <div class="square">
<<<<<<< HEAD
      <div class="front squaretext">
        <div class="squaretitle">WOZNIAK LOUNGE</div>
      </div>
    </div>
    <div class="square">
      <img src="https://s3.amazonaws.com/hackerfair/hack-logo-black-png.png" style="width: 100%; opacity: 0.2;">
      <div class="front squaretext">
        <div class="squaretitle">
          <font style="color:#aaa;">HACK</font>JAM
        </div>
      </div>
=======
      <div class="front squaretext"><div class="squaretitle">WOZNIAK LOUNGE <br> - SAT. 1/26 - <br> 1-4PM</div></div>
    </div>
    <div class="square">
      <img src="https://s3.amazonaws.com/hackerfair/hack-logo-black-png.png" style="width: 100%; opacity: 0.2;">
      <div class="front squaretext"><div class="squaretitle"><font style="color:#aaa;">HACKER</font>FAIR</div></div>
>>>>>>> 289a296623ce7d8f436bec7c4b2c4e8bdf09d9d2
    </div>
    <% for (var i=0; i<6; i++) { %>
      <div class="blank square"></div>
    <% } %>
<<<<<<< HEAD
    <div class="square">
      <div class="front squaretext">
        <div class="squaretitle">Sat. 2/9<br>12PM-12AM</div>
      </div>
    </div>

    <div class="square link darkgreen" name="submit">
      <div class="front squaretext">
        <div class="squaretitle">SUBMIT<br>HACK
        </div>
      </div>
=======
             <div class="square link" name="login">
                       <img src="https://s3.amazonaws.com/hackerfair/github_icon.jpg" style="width: 100%; opacity: 0.2;">
                       <div class="front squaretext"><div class="squaretitle">rsvp</div></div>
               </div>

    <div class="square link" name="submit">
      <div class="front squaretext"><div class="squaretitle">submit<br>hack</div></div>
>>>>>>> 289a296623ce7d8f436bec7c4b2c4e8bdf09d9d2
    </div>
    <% for (var i=0; i<19; i++) { %>
      <div class="blank square"></div>
    <% } %>
  </div>
</div>
