<div id="content">
	<div class="grid" id="linkGrid">
		<% for (var i=0; i<11; i++) { %>
			<div class="blank square"></div>
		<% } %>
		<div class="square" id="logo">
			<a href="/"><div class="squaretext"><span>H@B Hacker Fair</span></div></a>
		</div>
		<div class="square" id="info">
			<a href="/"><div class="squaretext"><span>infos</span></div></a>
		</div>
		<% for (var i=0; i<6; i++) { %>
			<div class="blank square"></div>
		<% } %>
		<div class="square" id="tohackers">
			<a href="/hackers"><div class="squaretext"><span>hackers</span></div></a>
		</div>
		<div class="square" id="tohacks">
			<a href="/hacks"><div class="squaretext"><span>hacks</span></div></a>
		</div>
		<% for (var i=0; i<19; i++) { %>
			<div class="blank square"></div>
		<% } %>
	</div>
</div>