<div id="content">
	<div class="grid" id="links">
		<% for (var i=0; i<19; i++) { %>
			<div class="blank square"></div>
		<% } %>
		<div class="square" id="logo">
			<div class="squaretext"><span>H@B Hacker Fair</span></div>
		</div>
		<div class="square" id="info">
			<div class="squaretext"><span>infos</span></div>
		</div>
		<div class="square" id="tohackers">
			<div class="squaretext"><span>hackers</span></div>
		</div>
		<div class="square" id="tohacks">
			<div class="squaretext"><span>hacks</span></div>
		</div>
		<% for (var i=0; i<27; i++) { %>
			<div class="blank square"></div>
		<% } %>
	</div>
</div>