<!DOCTYPE HTML>
<html lang="en"> 
	<head>
		<title><%= title %></title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Anaheim" type="text/css" />
		<link rel="stylesheet" href="/css/reset.css" type="text/css">
		<link rel="stylesheet" href="/css/style.css" type="text/css">
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="/js/index.js"></script>
	</head>
	<body>
		<div id="header">
			<div id="headercentre">
				<div style="left: 0px; margin-left: -0.5%;">
					<div class="nav link" name=".">home</div>
					<div class="nav link" name="users">hackers</div>
					<div class="nav link" name="projects">hacks</div>
					<div class="nav link" name="submit">submit</div>
				</div>
				<div style="right: 0px; float:right;">
					<% if (user) { %>
						<div class="dumbnav">Welcome, </div>
						<a href=<%= "/users/"+user.github.username %>><div class="nav" id="profile"><%= (user.github.name || user.github.username)+"!" %></div></a>
						<img class="nav link" name="logout" style="height: 18px; padding: 7px;" src="https://s3.amazonaws.com/hackerfair/logout_icon.png" />
					<% } else { %>
						<div class="nav link" name="login">Log in with Github</div>
					<% } %>
				</div>
			</div>
		</div>
		
		<%- body %>
		
	</body>
</html>
