<!DOCTYPE HTML>
<html lang="en"> 
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/css/style.css" type="text/css">
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="/js/index.js"></script>
	</head>
	<body>
		<div id="header">
			<div id="headercentre">
				<div style="left: 0px; margin-left: -0.5%;">
					<div class="nav" id=".">home</div>
					<div class="nav" id="hackers">hackers</div>
					<div class="nav" id="hacks">hacks</div>
					<div class="nav" id="submit">submit</div>
				</div>
				<div style="right: 0px; float:right;">
					<% if (user) { %>
						<div class="dumbnav">Welcome, </div>
						<a href=<%= "/profile/"+user.github.username %>><div class="nav" id="profile"><%= user.github.name+"!" %></div></a>
					<% } else { %>
						<a href="/auth/github"><div class="nav" id="login">Log in with Github</div></a>
					<% } %>
				</div>
			</div>
		</div>
		
		<%- body %>
		
	</body>
</html>