<div id="content">
    <form name="input" action="/submit" method="post">
        Title: <input type="text" name="title" required>
        Team: <input type="text" name="team" required>
        Source: <input type="text" name="source" required>
        Demo: <input type="text" name="demo">
        Video: <input type="text" name="video">
        Picture: <input type="file" name="picture" size="chars" required>
        Description: <textarea name="blurb" rows=8 col=100 ></textarea>
        <input type="submit" value="Submit">
    </form>
</div>
