<div id="content">
    <form name="input" action="/submit" method="post">
        Title: <input type="text" name="title" placeholder="Hack name" required>
        Team: <input type="text" name="team" placeholder="Team members" required>
        Source: <input type="text" name="source" placeholder="Source URL">
        Demo: <input type="text" name="demo" placeholder="Demo URL">
        Image: <input type="text" name="picture" size="chars" placeholder="Image URL">
        Video: <input type="text" name="video" placeholder="Video URL">
        Description: <textarea name="blurb" rows=8 col=100 ></textarea>
        Tags: <input type="text" name="tags">
        <input type="submit" value="Submit">
    </form>
</div>
